<div class="container container-index">
  <h1>La collection Automne/Hiver 19</h1>
  <p>Retrouvez toutes nos chaussures dans notre magasin à Marseille</p>

<!--   Search par rapport au nom de la marque
 -->
  <div class="content-index">
    <div class="form">
      <h4>Filtrer votre recherche</h4>
      <%= form_tag(articles_path, method: :get) do %>
      <% Brand.all.each do |b| %>
      <div class="inline-form">
        <%= radio_button_tag "query", b.name %>
        <%= label_tag b.name %>
      </div>
      <% end  %>
      <%= submit_tag "Rechercher", class: "btn btn-outline-dark" %>
      <% end %>
    </div>

<!--   Affichage search par rapport au nom de la marque
 -->
    <div class="cards-articles-container d-flex">
      <% @articles.each do |article| %>
        <div class="cards row justify-content-between pt-2">
          <div class="col">
            <div class="card-image" style="background-image: url('<%= cl_image_path article.photo %>')">
              <div class="card-article-content p-2">
                <div class="card-article-title-price d-flex justify-content-between">
                  <div class="card-article-title">
                    <h5><%= article.name %></h5>
                  </div>
                  <div class="card-article-price">
                    <h5><%= article.price %> €</h5>
                  </div>
                </div>
                <div class="card-article-brand">
                  <p><%= article.brand.name %></p>
                </div>
                <div class="card-article-color">
                  <p><%= article.color %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
