<!-- banner -->

<div class="square">
  <div class="square_photo_text">
  <h1>NOUVELLE COLLECTION</h1>
  <%= link_to "DÉCOUVRIR", articles_path, class: "home-link" %>
  <div class="square_img">
  <%= image_tag ("home.jpg"), width: 300 %>
  </div>
  </div>
</div>
<!--/. banner -->

<div class="container nouveautes">
  <h3 class="pt-2">Les dernières nouveautés</h3>

  <div class="d-flex">
    <div class="cards row justify-content-between pt-2">
      <% @articles.last(3).each do |article| %>
        <div class="col">
          <div class="card-image" style="background-image: url('<%= cl_image_path article.photo %>')">
            <div class="card-article-content p-2">
              <div class="card-article-title-price d-flex justify-content-between">
                <div class="card-article-title">
                  <h5><%= article.name %></h5>
                </div>
                <div class="card-article-price">
                  <h5><%= article.price %> €</h5>
                </div>
              </div>
              <div class="card-article-brand">
                <p><%= article.brand.name %></p>
              </div>
              <div class="card-article-color">
                <p><%= article.color %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
